body {
    font-falmily: monospace, "Hannotate SC", "ヒラギノ丸ゴ Pro W4", monospace;
    color: #630;
    line-height: 25px;
    font-size: 0.95em;
}

#debug {
    background-color: #00ffff;
}
/*
.entry-content pre {
    position: relative;
}

.box-title {
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    font-size: 13px;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    background: #000;
}
*/
.code {


    /*　preタグ全体を相対位置に指定（必須）　*/
    position: relative;

    /*　preタグの背景色　*/
    background: #364549;

    /*　preタグ内のテキストカラー　*/
    color: #e3e3e3;

    /*　preタグの外側の余白　*/
    margin: 0 0 1.5em;

    /*　preタグの内側の余白　*/
    padding: 1em;

    /*　preタグ内のフォントを少し小さく（オススメ）　*/
    font-size: 95%;

    /*　preタグ周りの枠線なくすSANGO限定（他テーマは不要）　*/
    border: none;
}
